[Desktop Entry]
Name=WmMemMon
Comment=Mem/Swap usage monitor
Comment[pl]=Monitor zajętości pamięci i swapa
Exec=wmmemmon
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
